<div class="block green">
    <div class="number"><%= community_coleaders %>.</div>
    <div class="title">community<br/>(co-)leaders</div>
</div>
<div class="block dark-green">
    <div class="number"><%= coding_years %>.</div>
    <div class="title">combined years<br/>in software development</div>
</div>
<div class="block blue">
    <div class="number"><%= conference_organizers %>.</div>
    <div class="title">conference<br/>(co-)organizers</div>
</div>
<div class="block dark-blue">
    <div class="number"><%= open_source_contributors %>.</div>
    <div class="title">open source contributors</div>
</div>
<div class="block pink">
    <div class="number"><%= active_bloggers %>.</div>
    <div class="title">active<br/>bloggers</div>
</div>
<div class="block violet">
    <div class="number"><%= parents %>.</div>
    <div class="title">parents</div>
</div>
<div class="block ">
    <div class="number"><%= team_members %></div>
    <div class="title">team members</div>
</div>
